<app-navbar></app-navbar>
<div class="container">
  <div class="row personal-intro">
    <div class="col-6">
      <h1 class="text-white">
        Hi! I am Peace,<br />
        The way maker!
      </h1>
    </div>
    <div class="col-6">
      <p class="text-white">
        I am a Graphic, UIUX & Motion designer creating experiences that
        thoroughly surprise, delight, & provoke. About Me
      </p>
    </div>
  </div>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
</div>

<app-footer></app-footer>
